@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-c1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-c3: #465929;
  --bakery-landing-1-c4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
}

body {
  color: var(--bakery-landing-1-c1);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

address {
  font-style: normal;
}
ul {
  list-style-type: none;
}

/* Button */
.order-button {
  color: var(--bakery-landing-1-background);
  background-color: var(--bakery-landing-1-c2);
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.order-button:hover {
  background: transparent;
  color: var(--bakery-landing-1-c3);
}

/* Links */
.link {
  color: var(--bakery-landing-1-background);
  font-weight: 400;
}
.link:hover {
  color: var(--bakery-landing-1-c2);
  font-weight: 600;
}

/* Hero title */
.hero-title {
  color: var(--bakery-landing-1-background);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--bakery-landing-1-c2);
}

/* Traditions */
.traditions-list {
  background-color: var(--bakery-landing-1-c2);
  color: var(--bakery-landing-1-background);
  font-size: 20px;
  font-weight: 300;
}
.traditions-text .accent-brand {
  color: var(--bakery-landing-1-c2);
  text-transform: uppercase;
  font-weight: 600;
}
.traditions-text .accent {
  color: var(--bakery-landing-1-c2);
  font-weight: 600;
}

/* Chef section */
.title .accent {
  font-weight: 900;
  font-size: 64px;
  color: var(--bakery-landing-1-c3);
}
.chaf-name {
  font-weight: 600;
  font-size: 40px;
}

/* Section title */
.title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3125;
}

/* Formats */
.formats {
  font-weight: 600;
  font-size: 24px;
}
.formats .formats-text {
  font-weight: 300;
  font-size: 14px;
}

/* Footer */
.data-safe {
  color: var(--bakery-landing-1-c4);
}
.link-2 {
  font-style: normal;
  color: var(--bakery-landing-1-background);
}
.link-2:hover {
  font-style: normal;
  color: var(--bakery-landing-1-c2);
}
.address-copyright {
  font-size: 14px;
  color: var(--bakery-landing-1-c4);
}
